body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }
   
    header {
    background-image: url(fi/photo_2024-05-30_17-31-53.jpg);
    background-size: 100% 500px  ;
    background-position: center center;
    background-repeat: no-repeat;
    color: #1acc09;
    text-align: center;
    padding: 100px 0;
    }
    
    nav {
    background-color:  #333;
    color: #6e09f3;
    text-align: center;
    }
    
    nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    
    nav li {
    display: inline;
    padding: 10px;
    }
    
    nav a {
    text-decoration: none;
    color: #fff;
    }
    
    main {
    padding: 20px;
    }
    
    footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    }
    